<div class="card">
  <div style="flex: 1">
    <form action="" [formGroup]="formGroup">
      <input
        type="text"
        name="title"
        class="title"
        formControlName="title"
        (change)="displayFormValues()"
        placeholder="title"
      />
      <textarea
        name="description"
        class="description"
        rows="1"
        formControlName="description"
        placeholder="description"
      ></textarea>
      <select name="type" id="type" name="type" formControlName="type">
        @for(type of fieldTypesArray; track $index) {
        <option>{{ type }}</option>
        }
      </select>
      @if(formGroup.value.type === fieldTypes.DROPDOWN) {
      <div formArrayName="options">
        @for(option of options.controls; track option) {
        <div
          style="display: flex; margin-top: 10px; margin-bottom: 10px; gap: 5px"
        >
          <input type="text" [formControlName]="$index" />
          <button (click)="onRemoveOption($index)">Delete</button>
        </div>
        }
        <button (click)="onAddOption()">Add option</button>
      </div>
      }
    </form>
  </div>
  <div style="flex: 1; display: flex; justify-content: end">
    <button
      style="
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: var(--color-background);
        border: none;
      "
      (click)="onDeleteClicked()"
    >
      X
    </button>
  </div>
</div>
<pre>{{ formGroup.getRawValue() | json }}</pre>
