.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 250px;
  height: 300px;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
.description {
  text-overflow: ellipsis;
}
.row {
  display: flex;
  gap: 10px;
  align-items: end;
  flex-shrink: 0;
}
button {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid white;
  gap: 20px;
}

button:hover {
  cursor: pointer;
}

button > ng-icon {
  color: white;
}

button.primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

button.primary:hover {
  background-color: white;
  color: var(--color-primary);
  transition: all 0.3s ease;
}
button.primary:focus {
  background-color: var(--color-background);
}

button.primary:hover > ng-icon {
  color: var(--color-primary);
  transition: all 0.3s ease;
}

button.secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

button.secondary:hover {
  background-color: white;
  color: var(--color-secondary);
  transition: all 0.3s ease;
}

button.secondary:hover > ng-icon {
  color: var(--color-secondary);
  transition: all 0.3s ease;
}
