.container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: black;
}
.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--color-background);
  overflow: scroll;
  /* position: relative; */
  padding-top: 70px;
}
app-navbar {
  z-index: 1;
}
h3 {
  font-weight: normal;
}
