<div class="container">
  <div
    style="
      display: flex;
      width: 100%;
      justify-content: end;
      margin-bottom: 20px;
    "
  >
    <button (click)="addField()" style="padding: 10px 20px">Save</button>
  </div>
  <app-widget-form-title-and-description></app-widget-form-title-and-description>
  @for ( field of fields(); track $index) {

  <app-widget-create-field
    [fieldData]="field"
    (onDelete)="removeField($index)"
  ></app-widget-create-field>
  }
  <div
    style="
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 20px;
    "
  >
    <button (click)="addField()" style="padding: 10px 20px">Add field</button>
  </div>
</div>
