<div style="width: 300px; padding: 10px">
  <h3 style="margin-bottom: 20px">{{ formDetails.title }}</h3>
  <p style="margin-bottom: 20px">{{ formDetails.description }}</p>
  <form action="" style="display: flex; flex-direction: column">
    @for (formField of formDetails.fields; track formField) {

    <label [for]="formField.label">{{ formField.label }} </label>
    @switch (formField.type) { @case ('text') {
    <input
      [id]="formField.label"
      [type]="formField.type"
      [placeholder]="formField.placeholder"
      class="input"
      [formControl]="formGroup.get(formField.formControlName)"
    />
    } @case ('textArea') {
    <textarea
      [id]="formField.label"
      [placeholder]="formField.placeholder"
      class="input"
      [formControl]="formGroup.get(formField.formControlName)"
    ></textarea>
    } @case ("dropdown") {
    <select
      [id]="formField.label"
      class="input"
      [formControl]="formGroup.get(formField.formControlName)"
    >
      <option value="" disabled selected>Select an option</option>

      @for (option of formField.options; track $index) {
      <option [value]="option">{{ option }}</option>
      }
    </select>
    } } }
  </form>
  @if(formDetails.button) {

  <button type="button" (click)="printForm()">
    {{ formDetails.button.title | titlecase }}
    <ng-icon [name]="formDetails.button.icon" />
  </button>

  }
</div>
