* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-background: #3e2092;
  --color-text: #bdbdbd;
  --color-text-secondary: #585a7f;
  --color-primary: #ff5555;
  --color-secondary: #ff9999;
}
